---
title: "Pandas Crash Course"
author: "Cody Vela"
date: "2026-01-16"
categories: [code, foundations]
image: "image.png"
format:
  html:
    cold-fold:true
---

This is a simple crash course over pandas, it's been a while since I have worked wih the tool, so I will spend some time reviewing the fundamentals before diving deeper into data.

## What is Pandas?
Pandas is an open source data analysis and manipulation tool that is built on python utilizing NumPy. It's main use cases are data cleaning, transformation, and analysis in fields such as finance, science and machine learning.

## Core Data Structures
### Series
A series is a 1D labeled homogenously-typed array.
It can be used as the following:

```python
s = pd.Series(data, index=index)
```
An example of the code could be seen as this:

In [316]:
import numpy as np 

s = pd.Series(np.random.rand(5), index=["a","b", "c", "d", "e"])

print(s)

a    0.400395
b    0.770148
c    0.340275
d    0.433246
e    0.252000
dtype: float64

This is an example of a series with a datatype of float.

### Dataframe
A DataFrame is a 2-dimensional labeled data structure with columns of different types. This is similar to a spreadsheet or SQL table, or a dict of Series objects. It is the most commonly used pandas object.

To show how it can be used to convert a python dictionary, we will use a sample dict and convert it to a DataFrame

In [ ]:
data = {
    "Order_ID": [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    "Customer_Name": [
        "Alice",
        "Bob",
        "Charlie",
        "David",
        "Eve",
        "Frank",
        "Grace",
        "Heidi",
        "Ivan",
        "Judy",
    ],
    "Product": [
        "Laptop",
        "Phone",
        "Tablet",
        "Laptop",
        "Headphones",
        "Phone",
        "Tablet",
        "Monitor",
        "Laptop",
        np.nan,
    ],
    "Category": [
        "Electronics",
        "Electronics",
        "Electronics",
        "Electronics",
        "Accessories",
        "Electronics",
        "Electronics",
        "Electronics",
        "Electronics",
        "Accessories",
    ],
    "Quantity": [1, 2, 1, 3, 5, 1, np.nan, 2, 4, 1],
    "Price": [
        1200.50,
        800.00,
        300.00,
        1200.50,
        50.00,
        800.00,
        300.00,
        200.00,
        1200.50,
        50.00,
    ],
}

df = pd.DataFrame(data)

print(df)

   Order_ID Customer_Name     Product     Category  Quantity   Price
0       101         Alice      Laptop  Electronics       1.0  1200.5
1       102           Bob       Phone  Electronics       2.0   800.0
2       103       Charlie      Tablet  Electronics       1.0   300.0
3       104         David      Laptop  Electronics       3.0  1200.5
4       105           Eve  Headphones  Accessories       5.0    50.0
5       106         Frank       Phone  Electronics       1.0   800.0
6       107         Grace      Tablet  Electronics       NaN   300.0
7       108         Heidi     Monitor  Electronics       2.0   200.0
8       109          Ivan      Laptop  Electronics       4.0  1200.5
9       110          Judy         NaN  Accessories       1.0    50.0

## Simple Exercise
For this example to build on top of what we know, I am going to do some basic data analysis on the following dataset from Kaggle to get more familar with pandas again. The dataset contains some mock sales data and can be found [here](https://www.kaggle.com/datasets/vinothkannaece/sales-dataset).

In [318]:
df = pd.read_csv("./data/sales_data.csv")

### Get to know the data at a glance
- See first few rows
- See the total number of columns 
- See the column names

In [319]:
df.head()

,Product_ID,Sale_Date,Sales_Rep,Region,Sales_Amount,Quantity_Sold,Product_Category,Unit_Cost,Unit_Price,Customer_Type,Discount,Payment_Method,Sales_Channel,Region_and_Sales_Rep
0,1052,2023-02-03,Bob,North,5053.97,18,Furniture,152.75,267.22,Returning,0.09,Cash,Online,North-Bob
1,1093,2023-04-21,Bob,West,4384.02,17,Furniture,3816.39,4209.44,Returning,0.11,Cash,Retail,West-Bob
2,1015,2023-09-21,David,South,4631.23,30,Food,261.56,371.40,Returning,0.20,Bank Transfer,Retail,South-David
3,1072,2023-08-24,Bob,South,2167.94,39,Clothing,4330.03,4467.75,New,0.02,Credit Card,Retail,South-Bob
4,1061,2023-03-24,Charlie,East,3750.20,13,Electronics,637.37,692.71,New,0.08,Credit Card,Online,East-Charlie

In [320]:
df.shape

(1000, 14)

In [321]:
df.columns

Index(['Product_ID', 'Sale_Date', 'Sales_Rep', 'Region', 'Sales_Amount',
       'Quantity_Sold', 'Product_Category', 'Unit_Cost', 'Unit_Price',
       'Customer_Type', 'Discount', 'Payment_Method', 'Sales_Channel',
       'Region_and_Sales_Rep'],
      dtype='object')

### Check the data types and spot missing values
- What type has been given to each column?
- Which columns have missing values and how many?

In [322]:
df.dtypes

Product_ID                int64
Sale_Date                object
Sales_Rep                object
Region                   object
Sales_Amount            float64
Quantity_Sold             int64
Product_Category         object
Unit_Cost               float64
Unit_Price              float64
Customer_Type            object
Discount                float64
Payment_Method           object
Sales_Channel            object
Region_and_Sales_Rep     object
dtype: object

In [323]:
df.isna().sum()
# No missing values - great!

Product_ID              0
Sale_Date               0
Sales_Rep               0
Region                  0
Sales_Amount            0
Quantity_Sold           0
Product_Category        0
Unit_Cost               0
Unit_Price              0
Customer_Type           0
Discount                0
Payment_Method          0
Sales_Channel           0
Region_and_Sales_Rep    0
dtype: int64

### Get basic stats of the numbers
Before we do that, let's do a quick translation for the Sales_Date column

In [324]:
df["Sale_Date"] = pd.to_datetime(df["Sale_Date"])
df.dtypes

Product_ID                       int64
Sale_Date               datetime64[ns]
Sales_Rep                       object
Region                          object
Sales_Amount                   float64
Quantity_Sold                    int64
Product_Category                object
Unit_Cost                      float64
Unit_Price                     float64
Customer_Type                   object
Discount                       float64
Payment_Method                  object
Sales_Channel                   object
Region_and_Sales_Rep            object
dtype: object

Price

- Whats the average price of the sales?
- Whats the least sale price?
- Whats the most expensive sale?
- Whats the median of the price of sale?

In [325]:
print("Average: ", df["Sales_Amount"].mean())

Average:  5019.265229999999

In [326]:
print("Min: ",df["Sales_Amount"].min())

Min:  100.12

In [327]:
print("Max: ",df["Sales_Amount"].max())

Max:  9989.04

In [328]:
print("Median: ",df["Sales_Amount"].median())

Median:  5019.3

### Find the top categories / top sales rep / top region / top product

In [329]:
df.groupby("Product_Category")["Quantity_Sold"].sum().sort_values(ascending=False)

Product_Category
Clothing       6922
Furniture      6729
Electronics    6096
Food           5608
Name: Quantity_Sold, dtype: int64

In [330]:
df.groupby("Sales_Rep")["Quantity_Sold"].sum().sort_values(ascending=False)

Sales_Rep
David      6042
Eve        5287
Bob        4977
Alice      4832
Charlie    4217
Name: Quantity_Sold, dtype: int64

In [331]:
df.groupby("Product_ID")["Quantity_Sold"].sum().sort_values(ascending=False)

Product_ID
1090    590
1092    548
1062    506
1099    502
1058    452
       ...
1083    125
1065    105
1011     75
1043     65
1031     64
Name: Quantity_Sold, Length: 100, dtype: int64

In [332]:
df.groupby("Sales_Channel")["Quantity_Sold"].sum().sort_values(ascending=False)

Sales_Channel
Retail    12753
Online    12602
Name: Quantity_Sold, dtype: int64

### Seeing time based sums

- What product sold the most in a year?
- Who sold the most in Feb '23?
- What was the highest sale in each month?

In [333]:
df.groupby(df["Sale_Date"].dt.to_period("Y"))["Quantity_Sold"].sum()

Sale_Date
2023    25278
2024       77
Freq: Y-DEC, Name: Quantity_Sold, dtype: int64

In [334]:
mask = (df["Sale_Date"].dt.year == 2023) & (df["Sale_Date"].dt.month == 2)
df[mask].groupby(df["Sales_Rep"])["Quantity_Sold"].sum().sort_values(ascending=False)

Sales_Rep
David      534
Alice      465
Charlie    387
Eve        346
Bob        332
Name: Quantity_Sold, dtype: int64

In [335]:
df.groupby(df["Sale_Date"].dt.to_period("M"))["Sales_Amount"].max()

Sale_Date
2023-01    9813.81
2023-02    9813.32
2023-03    9755.90
2023-04    9961.96
2023-05    9744.52
2023-06    9736.49
2023-07    9638.64
2023-08    9976.52
2023-09    9914.15
2023-10    9933.22
2023-11    9762.54
2023-12    9989.04
2024-01    8579.72
Freq: M, Name: Sales_Amount, dtype: float64